input[type='submit'], button {
  border: 1px solid $red;
  color: $red;
  border-radius: 3px;
  padding: 20px;
  background: $yellow;
  font-family: "Slabo 27px"
}

::-webkit-input-placeholder {
   color: $brown;
   font-size: 12px;
}

:-moz-placeholder { /* Firefox 18- */
   color: $brown;
   font-size: 12px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $brown;
   font-size: 12px;
}

:-ms-input-placeholder {
   color: $brown;
   font-size: 12px;
}
