<div class="sign-up-page">
  <h1>Signup</h1>
  <form class="sign-up" action="loggedin.html" method="post">
    <input type="email" name="name" value="" placeholder="Email">
    <input type="password" name="name" value="" placeholder="Password">
    <input type="submit" name="name" value="Sign up!">
  </form>
</div>
