<div class="sign-up-page">
  <h1>Signup</h1>
  <form class="sign-up" action="/signup" method="post">
    <input type="email" name="email"  placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" name="name" value="Sign up!"/>
  </form>
</div>
