<header class="main-nav">
  <h1>This is an example of Heading 1</h1>
</header>
<h2>This is an example of heading 2</h2>
<ul>
  <li>An unorder list</li>
  <li>With another item</li>
  <li>An more items</li>
</ul>
<ol>
  <li>An order list</li>
  <li>With another item</li>
  <li>An more items</li>
</ol>
<h4>Table Example</h4>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Nicholas</td>
      <td>10 Elm Street</td>
      <td>+1 (555) 234-2322</td>
    </tr>
    <tr>
      <td>Ted</td>
      <td>281a Elmvale Road</td>
      <td>+1 (555) 389-2391</td>
    </tr>
    <tr>
      <td>Dwayne</td>
      <td>892 Henley Cresent</td>
      <td>+1 (555) 950-9234</td>
    </tr>
  </tbody>
</table>
<h4>Form Example</h4>
<form>
  <p>
    <label>Email</label>
    <input type='email' />
  </p>
  <p>
    <label>Password</label>
    <input type='password' />
  </p>
  <fieldset>
    <legend>Gender</legend>
    <p>
      <input type='radio' />
      <label>Male</label>
      <input type='radio' />
      <label>Female</label>
      <input type='radio' />
      <label>Other</label>
    </p>
  </fieldset>
  <p>
    <label>Country</label>
    <select>
      <option>New Zealand</option>
      <option>Canada</option>
      <option>United States</option>
    </select>
  </p>
  <p>
    <label>Country</label>
    <select multiple='multiple'>
      <option>New Zealand</option>
      <option>Canada</option>
      <option>United States</option>
    </select>
  </p>
  <p>
    <input type='checkbox' />
    <label>Agree to Terms &amp; Conditions</label>
  </p>
  <p>
    <label>Message</label>
    <br />
    <textarea></textarea>
  </p>
  <p>
    <input type='submit' value='Send message' />
  </p>
</form>
